/* CSS declarations go here */

body {
  background-color: #333;
}

#fractal-container {
  background-color: #ccc;
}

#fractal {
  border: 2px solid black;
}

#content {
  padding-top: 50px;
}

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}

.btn-large {
  margin-left: 10px;
  margin-right: 10px;
}